h1 {
    background-color: crimson;
    color: cornsilk;
    text-align: center;
}

#shrimp {
    background-color: aqua;
}

#steak {
    background-color: hotpink;
}

#fish {
    background-color: yellowgreen;
}